<nav>
    <ul id="navigation">
        <li class="active"><a href="/">Бастапқы бет</a></li>
        <li><a href="/courses">Курс</a></li>
        <li><a href="/about">Материал</a></li>
        <li><a href="/blog">Блог</a>
            <ul class="submenu">
                <li><a href="/blog">Блогтар</a></li>
            </ul>
        </li>
        <li><a href="/contact">Контакт</a></li>

    
            <!-- Если пользователь авторизован -->
       
            
            <!-- Если пользователь не авторизован -->
            <li class="button-header margin-left"><a href="/register" class="btn">Қосылу</a></li>
            <li class="button-header"><a href="/login" class="btn btn3">Кіру</a></li>
    </ul>
</nav>
